* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 {
    width: 98%;
    margin: auto;
    height: 59px;
}
.container {
    width: 98%;
    margin: auto;
    padding: 1rem 0px;
    .left-box {
        width: 30%;
        ul {
            li {
                display: inline;
                list-style: none;
                color: grey;
                font-size: 13px;
            }
            .border {
                border: 0.5px solid grey;
                margin: 0 10px;
            }
        }
    }
    .middle-box {
        width: 40%;
        p {
            color: grey;
            text-align: center;
        }
    }
    .right-box {
        width: 30%;
        ul {
            text-align: right;
            li {
                display: inline;
                color: grey;
                font-size: 13px;
                text-align: right;
            }
            .border {
                border: 1px grey solid;
                margin: 0 5px;
            }
        }
    }
}
.nav-search {
    width: 85rem;
    height: 6.5rem;
    border: 1px solid #ececec;
    .leftbox2 {
        width: 15%;
        ul {
            float: right;
            padding: 8px 0;
            margin-right: 3rem;
            li {
                list-style: none;
            }
            .Nest {
                font-size: 35px;
                font-weight: bold;
                color: #3bb77e;
                letter-spacing: 2px;
            }
            .Mart {
                font-size: 8px;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
    .middlebox2 {
        width: 55%;
        ul {
            border: 1px solid #3bb77e;
            padding: 12px 12px;
            width: 627px;
            li {
                display: inline;
                list-style: none;
                font-size: 13px;
            }
            .border {
                border: 1px solid grey;
                margin: 0 10px;
            }
        }
    }
    .rightbox2 {
        width: 30%;
        padding: 20px 0px;
        ul {
            text-align: right;
            li {
                display: inline;
                color: #3bb77e;
                padding: 0 5px;
                font-size: 14px;
                i {
                    color: grey;
                    font-size: 25px;
                    padding: 0 5px;
                }
            }
        }
    }
}
.nav-department {
    width: 1364px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    .left-box2 {
        width: 20%;
        a {
            border: 1px solid #3bb77e;
            text-decoration: none;
            border-radius: 10px;
            padding: 11px 41px;
            background-color: #3bb77e;
            color: white;
        }
    }
    .middle-box2 {
        width: 60%;
        ul {
            li {
                display: inline;
                padding: 0 9px;
                font-weight: bold;
                font-size: 15px;
                i {
                    padding: 0px 3px;
                    color: grey;
                    font-size: 10px;
                }
            }
        }
    }
    .right-box2 {
        width: 20%;
        position: relative;
        .support {
            float: right;
            i {
                font-size: 2rem;
                position: absolute;
                left: 7rem;
                top: 5px;
            }
            ul {
                display: inline-block;
                li:first-child {
                    font-size: 25px;
                    color: #3bb77e;
                    list-style: none;
                    font-weight: bold;
                }
                li:last-child {
                    font-size: 11px;
                    letter-spacing: 0.5px;
                    list-style: none;
                    color: grey;
                }
            }
        }
    }
}
