* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Service{
  background-color: #100028;
  padding: 10rem;
  height: 40%;
}
.container {
  width: 90%;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.smallBox i{
  font-size: 2.5rem;
}


.Service .left {
  width: 35%;
}

.Service .right {
  width: 65%;
}

.Service .smallBox {
  width: 50%;
  height: 11rem;
  margin-bottom: 30px;
}
.container .flex-container .textBox .first_p{
  color: white;
  font-size: 1.5rem;
}

.left .textBox hr{
  height: 5px;
    width: 4rem;
    font-weight: 10%;
    color: aqua;
  background-color: aqua;
  border-color: aqua;
  margin-bottom: 30px;
  margin-top: 10px;
  }
.left .textBox  h1{
  
    color: white;
      font-size: 2.5rem;
  
}
.second_p{
  color: #99ADA9;
  margin-bottom:3rem;
 

}
.textBox a{
  border: 1px aqua solid;
  padding: 10px 40px;
    color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.right .smallBox i{
  border: aqua 1px solid;
  padding: 10px;
  color: white  ;
}
.right .smallBox .p_one{
  color: white;
  font-size: 20px;
  padding: 16px 0;
  font-weight: bold;
}
.p_two{
  color: #99ADA9;
}