* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section {
    .container {
        width: 95%;
        margin: auto;
        padding: 1rem 0;
        .shopping-nav {
            background-color:whitesmoke;
            height: 510px;
            .leftbox {
                width: 480px;
                height: 500px;
                .small-box {
                    padding: 3rem 0;
                    i {
                        border: 1px solid black;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 100%;
                        text-align: center;
                        padding: 10px 0rem;
                    }
                    h1 {
                        display: inline-block;
                    }
                    span {
                        text-decoration: underline;
                        text-decoration-color: gray;
                        color: gray;
                    }
                }
                .big-box {
                    .first-part {
                        .image {
                            padding: 0 25px;
                        }
                        .text-part {
                            ul {
                                padding: 1rem 2rem;
                                li {
                                    list-style: none;
                                    padding: 5px 0;
                                }
                                .circle {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    border-radius: 100%;
                                    border: 1px transparent solid;
                                    display: inline-block;
                                    background-color: black;
                                }
                            }
                        }
                    }
                }
            }
            .rightbox {
                width: 850px;
                height: 500px;
                .bgimg {
                    height: 100%;
                    background-image: url(222.jpg);
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    .TEXT {
                        ul {
                            text-align: center;
                            .shop {
                                border: 1px solid black;
                                padding: 10px;
                            }
                            li {
                                font-weight: bold;
                                list-style: none;
                            }
                        }
                    }
                    .ICON {
                        i {
                            font-size: 5rem;
                        }
                    }
                    .question {
                        img {
                            display: block;
                            position: absolute;
                            top: 7rem;
                            right: 0px;
                            border-radius: 10px 0px 0px 10px;
                        }
                        i {
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            border: 2px solid black;
                            padding: 6px 11px;
                            font-size: 27px;
                            background-color: white;
                            color: gray;
                            position: absolute;
                            top: 46%;   
                        }
                    }
                }
            }
        }
    }
}
