* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.flex-box {
    display: flex;
}

.flex-box1 {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 15rem;
    height: 30rem;
    

}

.products {
    text-align: center;
    padding: 0px 0px 30px;
}

.products span {
    margin: 10px;
}

.box img {
    width: 100%;
    height: 45vh;
    object-fit: cover;
    position: relative;

}

.box .p,
.pre,
.perc {
    position: relative;
    bottom: 18.5rem;
    left: 5px;
    margin: 2px 0;
    font-size: 13px;
    padding: 3px 2px;
}

.box .p {
    width: 2rem;
    color: white;
    background-color: #83A7C9;
}

.box .perc {
    width: 3rem;
    color: white;
    background-color: red;
}

.box .pre {
    width: 4rem;
    color: black;
    background-color: yellow;
}

.time p {
    border: 1px solid white;
    font-size: 10px;
    display: inline-block;
    padding: 1px 3px;
    position: relative;
    z-index: 1;
    bottom: 7rem;
    left: 5px;
    background-color: white;

}

.money {
    text-decoration: line-through;
    margin-right: 3px;
    font-size: 14px;
    color: grey;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6 {
    border-radius: 100%;
    width: 7%;
    height: 1rem;
    margin-right: 8px;

}

.circle1 {
    background-color: yellow;

}

.circle2 {
    background-color: green;
}

.circle3 {
    background-color: black;
}

.circle4 {
    background-color: blue;
}

.circle5 {
    background-color: red;
}

.circle6 {
    background-color: purple;
}

.spanDiv span {
    border: 1px solid grey;
    font-size: 15px;
    padding: 1px 1px;
    margin-right: 2px;
    color: grey;

}

.spanDiv {
    padding: 8px 0px;
}

.underbox {
    position: absolute;
    bottom: 10.5rem;
    width: 17%;
}

.pre-ord {
    border: 1px solid black;
    display: inline;
    padding: 6px 12px;
    position: relative;
    top: 14px;
}

i {
    position: relative;
    left: 1rem;
    top: 1rem;
    padding: 2px;
}

.icons {
    position: relative;
    right: 1rem;
    top: 1rem;
}